/* Fonts Import */
@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/GothamBold.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/GothamBook.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/GothamMedium.otf");
}

/* Media Queries */
@media (max-width: 992px) {
  p#first-p {
    padding-left: 160px;
    padding-top: 0;
    padding-right: 160px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h1#first-title {
    margin-right: 60px;
  }

  div.index-p {
    margin-top: 3rem;
  }

  div.modal-dialog {
    max-width: 500px;
  }

  button.Q5-2 {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  a.btn {
    margin-top: 0;
    margin-left: 200px;
    width: 30%;
  }

  h1#first-title {
    padding-left: 200px;
    margin-top: 14rem;
  }

  p#first-p {
    margin-top: 15.5rem;
    margin-right: 160px;
  }
}

/* Overall */
body {
  font-size: 2em;
  background: #efefef;
}

.container {
  max-width: 100%;
  padding: 0;
}

.col-lg-6 {
  padding: 0;
}

/* Logo Bar */
#logo {
  height: 60px;
}

*, ::after, ::before {
  box-sizing: content-box;
}

.navbar-default {
  background-color: white;
  border-color: transparent;
  height: 70px;
  width: 100%;
}

.navbar-brand{
  padding: 5px 15px;
}

.navbar-brand>img{
  height: 100%;
  width: auto;
}

/* Title */
#first-title {
  margin-top: 12rem;
  padding: 1rem 2rem 1rem 160px;
  font-size: 1.8em;
  font-family: "Gotham-Bold";
  color: #FF9C34;
}

/* First Button */
.btn {
  background: #191644;
  color: white;
  padding: 1rem 1.5rem 0.8rem 1.5rem;
  margin: 1rem 1rem 1rem 160px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 30%;
  display: inline-block;
  cursor: pointer;
  font-family: "Gotham-Medium";
  font-size: 0.6em;
  display: block;
  /* margin: 2rem auto; */
}

.btn:hover {
  background: #191644;
  color: white;
}

/* First Paragraph */
.index-p {
  /* margin-top: 10rem; */
  font-family: "Gotham-Book";
  font-size: 0.6em;
}

p#first-p {
  font-family: "Gotham-Book";
  /* font-size: 0.6em; */
  /* padding-top: 0; */
}

/* Progress Bar */
.progress-bar {
   font-family: "Gotham-Medium";
   font-size: 1.5em;
   position: absolute;
   bottom: 0;
   background: linear-gradient(273deg,#75c6a2,#fdd883);
   height: 30px;
}

.progress {
  position: absolute;
  bottom: 0;
  background: white;
  width:100%;
  height: 30px;
  position: fixed;
}

/* Question Label */
.question-label {
  text-align: center;
  margin: 12rem auto 2rem;
  padding: 0 2rem 0 2rem;
  font-family: "Gotham-Medium";
  font-size: 0.9em;
  max-width: 860px;
}

/* Checkbox */
.checkbox-group {
  text-align: left;
  margin-left: 30%;
  font-family: "Gotham-Book";
  font-size: 0.7em;
}

@media (max-width: 1200px) {
  div.checkbox-group {
    margin-left: 20%;
  }
}

@media (max-width: 720px) {
  div.checkbox-group {
    margin-left: 10%;
  }
}

.answer-label {
  padding-top: 0;
  padding-left: 1.5rem;
}

input.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #191644;
  transition: 0.2s all linear;

  background: white;

  position: relative;
  top: 2px;

  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

input.checkbox-input:checked {
  border: 8px solid #191644;
}

.submit-btn {
  margin: 4rem auto;
  width: 140px;
  font-family: "Gotham-Medium";
  color: white;
}

/* Text */
.text {
  margin: 12rem auto 2rem;
  font-family: "Gotham-Book";
  width: 60%;
  font-size: 0.8em;
  z-index: 2;
  position: relative;
}

/* Popup Window */
.Q5-2, .Q7 {
  border: 0;
  background: #efefef;
  outline: 0;
  color: black;
  font-family: "Gotham-Book";
  font-size: 1em;
  text-align: left;
  max-width: 760px;
  margin-bottom: 1rem;
}

.close-btn {
  text-align: center;
  margin: 1rem auto;
  font-size: 1em;
}

.modal-body {
  padding: 3rem;
}

.modal-dialog {
  max-width: 800px;
}

#visit-btn {
  width: 350px;
}

#home-btn {
  width: 250px;
  margin: 2rem auto;
}

.last-text {
  margin-top: 6rem;
}

#last-btn {
  margin: 2rem auto;
  width: 350px;
}


/* Eraser */
/* Loading indicator */
.loader {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -1rem 0 0 -1rem;
  border: 5px solid transparent;
  border-left-color: #191644;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotate 1s linear 0s infinite normal;
  -moz-animation: rotate 1s linear 0s infinite normal;
  animation: rotate 1s linear 0s infinite normal;
}

/* Indicator keyframe animation */
@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Content */
main {
  opacity: 0;
}

/* Quickly loaded states */
body.loaded main {
  -webkit-transition: .15s 1s opacity; /* .15s animation w/ 1s delay */
  -moz-transition: .15s 1s opacity; /* .15s animation w/ 1s delay */
  transition: .15s 1s opacity; /* .15s animation w/ 1s delay */
  opacity: 1;
}

body.loaded .loader {
  visibility: hidden;
  -webkit-transition: 0s 1s visibility; /* 1s delay */
  -moz-transition: 0s 1s visibility; /* 1s delay */
  transition: 0s 1s visibility; /* 1s delay */
}
