body {
    font-size: 2em;
}

#treatment, #pers1, #pers2, #pers3, #trust, #family, #know, #insurance, #research, .doctors, .choices, #lowscore, #highscore, .decisionaid {
    display: none;
}

.highlight {
    color: #009B90;
    font-weight: bold;
}

.h1, h1 {
    font-size: 26px;
}


a {
    color: #F58220;
    text-decoration: underline;
}

.question_wrapper{
  display: none;
  width: 80%;
  min-width: 300px;
  max-width: 800px;
  margin-left: 10px;
}
.response_wrapper{
  display: none;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
}
.question-icon{
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 30px 60px 0;
    float: right;
    display: none;
}
.intro-container{
  display: none;
}
.question-counter{
  display: none;
}
.btn-next{
  display: none;
  margin-left: 45px !important;
  margin-top: 30px;
  padding: 6px 30px;
}
.display{
  display: block !important;
}

label {
        font-size: 15px;
    letter-spacing: 1px;
}
.next{
  margin: auto;
  margin-top: 30px;
  display: block;
  
}
#startOver{
  display: inline-block;
  margin: 40px auto;
}

/*NAVBAR*/
.navbar-default {
  background-color: white;
  border-color: transparent;
}
.navbar-brand{
  padding: 5px 15px;
}
.navbar-brand>img{
  height: 100%;
  width: auto;
}

.navbar-brand {
    height: 60px;
}
/*END OF NAVBAR*/

h1 {
    color: #009B90;
    margin-bottom: 30px;
}

/*BUTTON STYLES*/
.btn-default {
        padding: 1rem 1.8rem;
    background: #F58220;
    outline: none;
    border: none;
    color: #fff;
    margin: 1rem 0.5rem 0.5rem 0;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    width: auto;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.2s 0;
    -moz-transition: all 0.2s 0;
    -o-transition: all 0.2s 0;
    -ms-transition: all 0.2s 0;
    transition: all 0.2s 0;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: all;
    -moz-transition-delay: 0;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-delay: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}
.btn-default:hover {
    color: #fff;
    background-color: #F58220;
    border-color: #F58220;
}

.counter-btn {
    border-radius: 0;
    background: rgba(245,130,32,.2);
    color: #fff;
    padding: 0rem 0.5rem;
    margin: 0;
    margin-bottom: -20px
}
/*END OF BUTTON STYLES*/

/*COUNTER BUTTONS*/
.finished, .finished:hover {
  background-color: rgba(0, 155, 144, .2);
  color: #fff;
}
.current{
/*  background-color: rgba(0, 155, 144, .2);*/
  background-color: rgba(0, 155, 144, 1);
    border: none;
    color: #fff;
}

.question-counter{
  text-align: center;
  margin-bottom: 40px;
}
/*END OF COUNTER BUTTONS*/

.question{
    left: 5%;
    font-size: 2.3rem;
    line-height: 3.2rem;
    z-index: 30;
    margin-bottom: 35px;
}

/*RADIO BUTTONS*/
/*kim*/
.question_wrapper input[type="radio"],
.question_wrapper input[type="checkbox"]{
  display: none;
}
.radio_wrapper {
  margin-bottom: 0px;
  padding-left: 40px;
}
.radio_wrapper label {
  position: relative;
}
.radio_wrapper span::before,
.radio_wrapper span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.radio_wrapper span.radio:hover {
  cursor: pointer;
}
.radio_wrapper span.radio::before {
  width: 22px;
  height: 22px;
  background-color: #D8D8D8;
  left: -35px;
  border-radius: 50%;
  transition: all .2s; */
}
.radio_wrapper span.radio::after {
  left: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D8D8D8;
}
.radio_wrapper span.radio:hover::after {
  left: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #27CBC0;
  transition: background-color .2s;
}
input[type="radio"]:checked + label span.radio::after {
  background-color: #009B90;
}
input[type="checkbox"]:checked + label span.radio::after {
  background-color: #009B90;
}

/*Progress Bars*/

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 15px;
}
.progress{
    height: 20px;
    margin-top: 40px;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, rgb(226,80,65), rgb(251,160,38), rgb(30,188,97)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgb(226,80,65), rgb(251,160,38), rgb(30,188,97)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgb(226,80,65), rgb(251,160,38), rgb(30,188,97)); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, rgb(226,80,65), rgb(251,160,38), rgb(30,188,97));
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
    margin-bottom: 30px;
}
.progress .progress-bar{
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:after{
  content: "\f0dd";
  font-family: fontawesome;
  font-size: 50px;
  position: absolute;
  top: -30px;
  right: -5px;
    /*content: "";
    width: 1px;
    height: 50px;
    position: absolute;
    top: -39px;
    right: 0;*/
}
.progress .progress-value{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -30px;
    right: -20px;
}
.progress.progress-background .progress-bar{
  background-color: transparent;
}
.progress.progress-background .progress-bar:after{
  color: #009B90;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}

.decisionaid {
    float: left; 
    width: 300px;
    margin-right: 40px;
    margin-bottom: 100px;
    margin-top: 10px;
}

.final {
    margin-top: 20px;
}

.vidcap {
    background: rgba(0, 155, 144, .2);
    padding-bottom: 5px;
    font-size: 0.7em;
    font-style: italic;
    padding-top: 5px;
}

@media only screen  and (min-width : 768px) {

    .decisionaid {
        display: block;
    }
    
    .h1, h1 {
    font-size: 36px;
}
    
    .counter-btn {
    padding: 1rem 1.8rem;
    margin: 1rem 0.5rem 0.5rem 0;
    margin-bottom: 0;
        
}
    
.question_wrapper{ 
    margin: auto;
    }
    
    .radio_wrapper {
        padding-left: 80px;
    }
    
    .question-icon {
        display: block;
    }
    
    .response_wrapper {
        width: 80%;
    }

}
